body {
    margin: 0;
    border: 0;
}

.nav{ 
    background: white;
    display: flex;
    padding: 10px 0px 10px 57px;
    position: fixed;
    top: 0;
    position: relative;
}
.nav img{
    margin: 5px;
}
.nav-itens {
    display: flex;
    margin: auto;
}
.nav-itens p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    font-size: 20px;
    color: gray;
    margin-left: 20px;
    text-align: left;
}
.nav-itens button{
    margin-left: 45px;
    border-radius: 30px;
    border: 1px solid;
    border-color: red;
    background: red;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    
}
.nav-itens button:hover{
    margin-left: 43px;
    border-radius: 30px;
    border: 2px solid;
    background: blue;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}
.nav p:hover{
    color: red;
}
h1{
    font-size: 60px;
    position: absolute;
    margin: 200px;
    margin-left: 410px;
    color: rgb(228, 82, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.inicio img {
    width: 1280px;
    height: 550px;
    position: absolute;
}
.sobre h2{
    font-size: 40px;
    margin-left: 430px;
    margin-top: 600px;
    color: #043f5f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
.sobre img {
    margin-left: 50px;
    float: left;
}
.sobre p {   
    padding: 5px;
    margin-left: 660px;
    font-size: 18px;
    color: rgb(112, 107, 107);
}
.sobre p a {
    color: blue;
    text-decoration: none;
}
.sobre p a:hover {
    color: rgb(6, 6, 104);
    text-decoration: none;
}
.sobre button {
    margin-left: 880px;
    border-radius: 30px;
    border: 1px solid;
    border-color: red;
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    width: 160px;
    height: 50px;
}
.sobre button:hover {
    margin-left: 880px;
    border-radius: 30px;
    border: 1px solid;
    border-color: rgb(209, 90, 90);
    background: rgb(209, 90, 90);
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    width: 160px;
    height: 50px;
}

.contador img {
    height: 300px;
    width: 1280px;
    margin-top: 80px;
    position: absolute;

}

.icone1 img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 100px;
}

.icone2 img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 100px 0px 0px 450px;
}

.icone3 img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 100px 0px 0px 780px;
}

.icone4 img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 100px 0px 0px 1090px;
}
.contador h3 {
    font-size: 75px;
    position: absolute;
    color:  red;


}
.contador p {
    position: absolute;
    color: purple;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icone1 h3{
    margin: 70px;
    margin-top: 200px;
}
.icone2 h3{
    margin: 200px 0px 0px 400px;
}
.icone3 h3{
    margin: 200px 0px 0px 740px;
}
.icone4 h3{
    margin: 200px 0px 0px 1080px;
}

.icone1 p {
    margin: 70px;
    margin-top: 300px;
    margin-left: 30px;
}

.icone2 p {
    margin: 300px 0px 0px 350px;
}

.icone3 p {
    margin: 300px 0px 0px 700px;
}

.icone4 p {
    margin: 300px 0px 0px 1125px;
}

.icones h2{
    font-size: 40px;
    margin-left: 220px;
    margin-top: 460px;
    color: #043f5f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}