body {
    margin: auto;
}

/* NAVBAR */
.nav {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    overflow: hidden;
    position: relative;
}

.nav__img {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav__botoes {
    margin-left: 15%;
    margin-top: 4%;
}

.botoes__option {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    color: gray;
    margin-right: 5px;
    margin-left: 5px;
}

.botoes__option:hover {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    color: red;
    margin-right: 5px;
    margin-left: 5px;
}

.nav__botao {
    margin-left: 4%;
    margin-top: 2%;
}

.botao__botao {
    border-radius: 30px;
    border: 1px solid;
    background: red;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white; 
    padding: 20px;
}

.botao__botao:hover {
    border-radius: 30px;
    border: 1px solid;
    background: blue;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white; 
    padding: 20px;
}

/* RESPONSIVIDADE NAVBAR */

@media screen and (max-width: 1160px) {
.nav__botoes {
    display: none;
}
.nav__botao {
    display: none;
}
}
/* INÍCIO */

.inicio {
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.foto__img {
    width: 100%;
    position: absolute;
    filter: brightness(60%);
    
}

.inicio__h1 {
    position: relative;
}

.h1__h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 350%;
    text-align: center;
    margin-top: 18%;
}

/* INÍCIO RESPONSIVO */

@media screen and (max-width: 850px) {
.h1__h1 {
    
}
}

@media screen and (max-width: 750px) {
.h1__h1 {
    
}
}

/* SOBRE */
.sobre {
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.sobre__h2 {
    color: #043f5f;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
}

.sobre__img__img {
    position: relative;
    margin-left: 3%;
    float: left;
    width: 45%;
    
}

.texto__p {
    position: absolute;
    color: gray;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 150%;
    margin-left: 50%;
    margin-top: auto;
}

.link {
    color: blue;
    text-decoration: none;
}

.negrito {
    color: rgb(99, 96, 96); 
}

.sobre__botao__botao {
    border-radius: 30px;
    border: 1px solid;
    background: red;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white; 
    padding: 20px;
    margin-left: 20%;;
    margin-top: 35%;
    position: absolute;
   
}

.sobre__botao__botao:hover {
    border-radius: 30px;
    border: 1px solid;
    background: rgb(192, 112, 112);
    padding-left: 0px;
    padding-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white; 
    padding: 20px;
}

/* SOBRE RESPONSIVO */ 

@media screen and (max-width: 900px) {
.sobre__h2 {
    margin-top: 5%;
}
}

@media screen and (max-width: 850px) {
.sobre__img__img {
    float: none;
    width: 100%;
}
.texto__p {
    margin-top: 3%;
    margin-left: 3%;
}
}

@media screen and (max-width: 1200px) {
.sobre__botao__botao {
    margin-top: 45%;
}
}

@media screen and (max-width: 1150px) {
.sobre__botao__botao {
    margin-top: 50%;
}
}

@media screen and (max-width: 1100px) {
.sobre__botao__botao {
    margin-top: 55%;
}
}

@media screen and (max-width: 1050px) {
.sobre__botao__botao {
    margin-top: 60%;
}
}

@media screen and (max-width: 1000px) {
.sobre__botao__botao {
    margin-top: 70%;
}
}

@media screen and (max-width: 950px) {
.sobre__botao__botao {
    margin-top: 80%;
}
}

@media screen and (max-width: 850px) {
.sobre__botao__botao {
    margin-top: 50%;
    margin-left: 40%;
}
}

@media screen and (max-width: 800px) {
.sobre__botao__botao {
    margin-top: 60%;
    margin-left: 40%;
}
}

@media screen and (max-width: 750px) {
.sobre__botao__botao {
    margin-top: 70%;
    margin-left: 40%;
}
}

@media screen and (max-width: 700px) {
.sobre__botao__botao {
    margin-top: 80%;
    margin-left: 40%;
}
}

@media screen and (max-width: 650px) {
.sobre__botao__botao {
    margin-top: 90%;
    margin-left: 40%;
}
}

@media screen and (max-width: 600px) {
.sobre__botao__botao {
    margin-top: 100%;
    margin-left: 40%;
}
}

@media screen and (max-width: 550px) {
.sobre__botao__botao {
    margin-top: 110%;
    margin-left: 40%;
}
}

@media screen and (max-width: 500px) {
.sobre__botao__botao {
    margin-top: 120%;
    margin-left: 40%;
}
}

/* CONTADOR */

.contador__img__img {
    position: relative;
}